* {
    box-sizing: border-box ;
    margin: 0 ;
    padding: 0 ;
}

/*Header*/
h1 {
    color: crimson ;
    height: 9vw ;
    font-weight: bolder ;
    font-size: 5vw ;
    padding-bottom: 1vh ;
    line-height: 9vw ;
    text-align: center ;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

/*Body*/
body {
    background-color: whitesmoke ;
}

.grid {
    width: 75% ;
    margin: 50px auto ;
    display: grid ;
    grid-template-columns: repeat(auto-fill , minmax(250px ,1fr ));
    grid-auto-rows: 450px ;
    grid-gap: 30px ;
}

.grid > div  {
    border: 2px solid green; 
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}

@media all and (min-width: 411px) and (max-width: 706px) {
    .grid {
        width: 60% ;
    }
}